<a href="https://colab.research.google.com/github/Tedodor423/bms-collab-notebooks/blob/main/stats/1.1_DescribingData/1.1.10_TutorialExercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tutorial Exercises

This week's tutorial exercises focus on indexing and obtaining descriptive statistics. Please make sure you refer back to the coursebook, and exercises from the past week.


### Set up Python Libraries

As usual you will need to run this code block to import the relevant Python libraries

In [3]:
# Set-up Python libraries - you need to run this but you don't need to change it
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import pandas as pd
import seaborn as sns
sns.set_theme(style='white')
import statsmodels.api as sm
import statsmodels.formula.api as smf
import warnings
warnings.simplefilter('ignore', category=FutureWarning)

### Import a dataset to work with

We will work with weather data from the Oxford weather station. This code block will read it automatically from the internet.

In [4]:
weather = pd.read_csv("https://raw.githubusercontent.com/jillxoreilly/StatsCourseBook_2024/main/data/OxfordWeather.csv")
display(weather)

       YYYY Month  MM  DD  DD365  Tmax  Tmin  Tmean  Trange  Rainfall_mm
0      1827   Jan   1   1      1   8.3   5.6    7.0     2.7          0.0
1      1827   Jan   1   2      2   2.2   0.0    1.1     2.2          0.0
2      1827   Jan   1   3      3  -2.2  -8.3   -5.3     6.1          9.7
3      1827   Jan   1   4      4  -1.7  -7.8   -4.8     6.1          0.0
4      1827   Jan   1   5      5   0.0 -10.6   -5.3    10.6          0.0
...     ...   ...  ..  ..    ...   ...   ...    ...     ...          ...
71338  2022   Apr   4  26    116  15.2   4.1    9.7    11.1          0.0
71339  2022   Apr   4  27    117  10.7   2.6    6.7     8.1          0.0
71340  2022   Apr   4  28    118  12.7   3.9    8.3     8.8          0.0
71341  2022   Apr   4  29    119  11.7   6.7    9.2     5.0          0.0
71342  2022   Apr   4  30    120  17.6   1.0    9.3    16.6          0.0

[71343 rows x 10 columns]

## Exercises

In the following questions, you'll use **descriptive statistics** and **indexing** to explore questions about the weather and climate in Oxford.

When you are asked to calculate a value (for example, a mean or standard deviation) rather than produce a full table, you should **report your answer in words** in the text box below the code block. This is exactly how you would do it in a written report.


When the question asks you to “comment”, you are being asked to *interpret* the data. That is, explain what you notice, what patterns stand out, or what the numbers might mean in context. Use plain English and discuss your ideas with your tutor and classmates. Developing the skill of turning numbers into insight is one of the most important parts of learning data analysis.

### Part 1: Heat

#### a. What was the hottest temperature on record?

Note that the dataset ends in April 2022 so does not include the record-breaking heatwaves that we've experienced recently.

In [5]:
weather.Tmax.max()

36.5

*Your text here*

#### b. On what date did the hottest temperature occur?

Hint: you could use `df.query()` to help you here

In [6]:
weather.query("Tmax==" + str(weather.Tmax.max()))[["YYYY", "MM"]]

       YYYY  MM
70332  2019   7

*Your text here*

In [16]:
# clean up NaNs

weather = weather.fillna(weather.mean(numeric_only=True))
weather

       YYYY Month  MM  DD  DD365  Tmax  Tmin  Tmean  Trange  Rainfall_mm
0      1827   Jan   1   1      1   8.3   5.6    7.0     2.7          0.0
1      1827   Jan   1   2      2   2.2   0.0    1.1     2.2          0.0
2      1827   Jan   1   3      3  -2.2  -8.3   -5.3     6.1          9.7
3      1827   Jan   1   4      4  -1.7  -7.8   -4.8     6.1          0.0
4      1827   Jan   1   5      5   0.0 -10.6   -5.3    10.6          0.0
...     ...   ...  ..  ..    ...   ...   ...    ...     ...          ...
71338  2022   Apr   4  26    116  15.2   4.1    9.7    11.1          0.0
71339  2022   Apr   4  27    117  10.7   2.6    6.7     8.1          0.0
71340  2022   Apr   4  28    118  12.7   3.9    8.3     8.8          0.0
71341  2022   Apr   4  29    119  11.7   6.7    9.2     5.0          0.0
71342  2022   Apr   4  30    120  17.6   1.0    9.3    16.6          0.0

[71343 rows x 10 columns]

#### c. Display the 10 hottest days on record and comment

Hint: you can use `df.sort_values()` and `df.head()` or `df.tail()` to help you here

In [15]:
# Your code here

weather.Tmax.sort_values().tail(10)

70715    34.1
54599    34.3
70716    34.4
64503    34.6
30900    34.8
65578    34.8
59749    35.1
38581    35.1
70704    35.1
70332    36.5
Name: Tmax, dtype: float64

*Your comment here*

#### d. Find the mean of maximum daily temperature (Tmax) for each month and comment

Hint: you can use `df.groupby()` to help you here

In [17]:
# Your code here
weather.groupby("MM").Tmax.mean()

MM
1      6.554444
2      7.401048
3      9.944914
4     13.187517
5     16.795252
6     20.011487
7     21.799007
8     21.192936
9     18.451043
10    14.112639
11     9.640768
12     7.290571
Name: Tmax, dtype: float64

*Your comment here*

#### e. Make a table displaying the mean and standard deviation of Tmax in each month

Hint: A combination of `df.agg()` and `df.groupby()` will help you here

In [18]:
# Your code here
weather.groupby("MM").agg({"Tmax": ["mean", "std"]})

         Tmax
         mean       std
MM
1    6.554444  3.831624
2    7.401048  3.723290
3    9.944914  3.641816
4   13.187517  3.648047
5   16.795252  3.761523
6   20.011487  3.585932
7   21.799007  3.511055
8   21.192936  3.232944
9   18.451043  3.088003
10  14.112639  3.090256
11   9.640768  3.254845
12   7.290571  3.801597

#### e. Make a table displaying the mean of Tmax and Tmin in each month

Hint: A combination of `df.agg()` and `df.groupby()` will help you here

In [19]:
# Your code here
weather.groupby("MM").agg({"Tmax": ["mean"], "Tmin": ["mean"]})

         Tmax       Tmin
         mean       mean
MM
1    6.554444   1.319437
2    7.401048   1.470683
3    9.944914   2.396840
4   13.187517   4.301786
5   16.795252   7.165062
6   20.011487  10.328291
7   21.799007  12.238098
8   21.192936  11.965261
9   18.451043   9.824855
10  14.112639   6.874028
11   9.640768   3.692857
12   7.290571   2.067461

### Part 2: Rain

#### a. Run this code block to add a column called <tt>wet</tt> containing a <tt>True</tt> for days on which it rained and <tt>False</tt> otherwise

We will practice adding columns in a later session

In [20]:
# Your code here
weather['wet']=weather.Rainfall_mm>0
weather

,YYYY,Month,MM,DD,DD365,Tmax,Tmin,Tmean,Trange,Rainfall_mm,wet
0,1827,Jan,1,1,1,8.3,5.6,7.0,2.7,0.0,False
1,1827,Jan,1,2,2,2.2,0.0,1.1,2.2,0.0,False
2,1827,Jan,1,3,3,-2.2,-8.3,-5.3,6.1,9.7,True
3,1827,Jan,1,4,4,-1.7,-7.8,-4.8,6.1,0.0,False
4,1827,Jan,1,5,5,0.0,-10.6,-5.3,10.6,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...
71338,2022,Apr,4,26,116,15.2,4.1,9.7,11.1,0.0,False
71339,2022,Apr,4,27,117,10.7,2.6,6.7,8.1,0.0,False
71340,2022,Apr,4,28,118,12.7,3.9,8.3,8.8,0.0,False
71341,2022,Apr,4,29,119,11.7,6.7,9.2,5.0,0.0,False
71342,2022,Apr,4,30,120,17.6,1.0,9.3,16.6,0.0,False

#### b. What is the proportion of wet days overall?

Hint: The values <tt>True</tt> and <tt>False</tt> can be treated as <tt>1</tt> and <tt>0</tt> respectively.
    
To get the proportion of days on which <tt>wet==True</tt>, we can use a programmming trick which is to simply take the mean of the column <tt>wet</tt>:
    
* say there are 100 days in my sample
    * say 66 of them, <tt>wet==True==1</tt>
    * for the other 44, <tt>wet==False==0</tt>
* If we take the mean, this gives us the proportion of wet days because we:
    * add up all the values (answer=66)
    * divide by the number of cases (100)
    * result is 66/100 = 0.66 or 66%, the proportion of wet days

In [23]:
# your code here
weather.wet.mean()

np.float64(0.46311481154423)

*Your text here*

#### c. What is the proportion of wet days in each month? Comment on your findings

Hint: use `df.groupby()`

In [24]:
# your code here
weather.groupby("MM").wet.mean()

MM
1     0.530941
2     0.479046
3     0.448321
4     0.441156
5     0.422829
6     0.405128
7     0.414723
8     0.431596
9     0.421538
10    0.503722
11    0.529231
12    0.528536
Name: wet, dtype: float64

*Your comments here*

#### d. What is the mean quantity of rainfall (in mm) in each month? Comment on your findings

In [25]:
# your code here

weather.groupby("MM").Rainfall_mm.mean()

MM
1     1.768186
2     1.513909
3     1.384546
4     1.471871
5     1.666600
6     1.813607
7     1.888238
8     1.935203
9     1.889658
10    2.173002
11    2.043350
12    1.878412
Name: Rainfall_mm, dtype: float64

*Your comment here*

#### e. Display the 10 wettest days on record and comment

In [30]:
# Your code here
weather.Rainfall_mm.sort_values(ascending=False).head(10)

51690    87.9
45538    84.8
48750    81.3
34915    70.8
53503    67.3
70768    60.0
47705    56.1
49525    53.6
27922    51.1
67076    51.1
Name: Rainfall_mm, dtype: float64

*Your comment here*

#### f. Compare and contrast the different findings in part 2 c,d, and e

Different descriptive statistics tell us different things about the same data!

*Your comments here!*

### Snow

#### a. Create a dataframe <tt>WhiteChristmas</tt> containing the weather on Christmas day, for all the years in which there was a White Christmas

Hint: we don't have a column telling us when is has snowed, but it is reasonable to assume this happens when the minimum temperature dips below zero, and Rainfall_mm is above zero.

In [32]:
# Your code here
WhiteChristmas = weather.query("Rainfall_mm > 0 and Tmin < 0")
WhiteChristmas

       YYYY Month  MM  DD  DD365  Tmax  Tmin  Tmean  Trange  Rainfall_mm   wet
2      1827   Jan   1   3      3  -2.2  -8.3   -5.3     6.1          9.7  True
409    1828   Feb   2  14     45   2.8  -1.1    0.9     3.9          7.5  True
454    1828   Mar   3  30     90   8.3  -0.7    3.8     9.0          1.0  True
728    1828   Dec  12  29    364   3.9  -0.9    1.5     4.8          4.5  True
729    1828   Dec  12  30    365   7.3  -1.6    2.9     8.9          2.3  True
...     ...   ...  ..  ..    ...   ...   ...    ...     ...          ...   ...
71230  2022   Jan   1   8      8  10.7  -2.1    4.3    12.8          4.1  True
71240  2022   Jan   1  18     18   5.3  -3.2    1.1     8.5          0.1  True
71312  2022   Mar   3  31     90   7.3  -0.1    3.6     7.4          0.3  True
71314  2022   Apr   4   2     92  10.0  -1.6    4.2    11.6          0.7  True
71315  2022   Apr   4   3     93   9.8  -2.6    3.6    12.4          4.4  True

[3071 rows x 11 columns]

#### b. Sort the dataframe <tt>WhiteChristmas</tt> by year and comment

In [35]:
# Your code here
WhiteChristmas.sort_values("YYYY")

       YYYY Month  MM  DD  DD365  Tmax  Tmin  Tmean  Trange  Rainfall_mm   wet
2      1827   Jan   1   3      3  -2.2  -8.3   -5.3     6.1          9.7  True
454    1828   Mar   3  30     90   8.3  -0.7    3.8     9.0          1.0  True
728    1828   Dec  12  29    364   3.9  -0.9    1.5     4.8          4.5  True
729    1828   Dec  12  30    365   7.3  -1.6    2.9     8.9          2.3  True
409    1828   Feb   2  14     45   2.8  -1.1    0.9     3.9          7.5  True
...     ...   ...  ..  ..    ...   ...   ...    ...     ...          ...   ...
71229  2022   Jan   1   7      7   8.6  -0.9    3.9     9.5          0.4  True
71312  2022   Mar   3  31     90   7.3  -0.1    3.6     7.4          0.3  True
71240  2022   Jan   1  18     18   5.3  -3.2    1.1     8.5          0.1  True
71314  2022   Apr   4   2     92  10.0  -1.6    4.2    11.6          0.7  True
71315  2022   Apr   4   3     93   9.8  -2.6    3.6    12.4          4.4  True

[3071 rows x 11 columns]

*Your comments here*

#### c. Any issues with our definition of 'snow'?

We defined snow as when the <tt>Tmin</tt> falls below zero and Rainfall is non-zero.

* Do you think this over- or under- estiamtes the number of snowy days?
* Why?

*Your comments here*

#### d. How common is 'proper' snowfall in Oxford?

Let's focus on days with enough snowfall to make at least a tiny snowman! Assume that this happens when TMin is below zero and there is more than 4mm of rainfall

* 4mm of rain makes about 5cm of soggy snow in Oxford conditions, although it would make a uch greater depth of powder in a cold dry atmosphere like Utah or Colorado

Create a dataframe called <tt>SnowDays</tt> containing only days with enough snow to make a snowman.

You can check how often this happened in recent years using `df.tail()`

In [37]:
# Your code here
SnowDays = weather.query("Rainfall_mm > 4 and Tmin < 0")
SnowDays.tail()

       YYYY Month  MM  DD  DD365  Tmax  Tmin  Tmean  Trange  Rainfall_mm   wet
70439  2019   Nov  11   9    313   6.1  -1.4    2.4     7.5         21.6  True
70868  2021   Jan   1  11     11   9.4  -0.1    4.7     9.5          4.3  True
70958  2021   Apr   4  11    101   9.1  -1.6    3.8    10.7          4.3  True
71230  2022   Jan   1   8      8  10.7  -2.1    4.3    12.8          4.1  True
71315  2022   Apr   4   3     93   9.8  -2.6    3.6    12.4          4.4  True

*Your comments here*